$red: #e95869;
$pink: #e45ba1;
$coralPink: #f05266;
$yellow: #f9f6c9;
$orange: #f79058;
$green:#5dbf85;
$blue: #45a0d9;
$lightBlue: #95d5f5;
$purple: #996caf;
$teal: #47c0b5;
$backgroundColor: #dcf0f1;
$darkBlue: #053264;

@mixin default($color, $width) {
  stroke: $color;
  stroke-width: $width;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  stroke-linejoin:round;
}

@mixin draw($color, $array, $offset, $keyframes, $seconds, $count, $delay) {
  stroke: $color;
  stroke-dasharray: $array;
  stroke-dashoffset: $offset;
  animation-name: $keyframes;
  animation-duration: $seconds;
  animation-timing-function: ease-in;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-fill-mode: forwards;
}

@mixin draw-tmoney($array, $offset, $seconds, $delay) {
  stroke-dasharray: $array;
  stroke-dashoffset: $offset;
  animation-duration: $seconds;
  animation-delay: $delay;
}

// Only used on Felsnaptha - draw-tmoney without the delay
@mixin drawSmaller($array, $offset, $seconds) {
  stroke-dasharray: $array;
  stroke-dashoffset: $offset;
  animation-duration: $seconds;
}

// Used for bubbles popping up - ex. Felsnaptha
@keyframes popUp {
  0% {transform: scale(0)}
  75% { transform: scale(1.5)}
  100% {transform: scale(1)}
}

@mixin show($color, $keyframes, $duration, $timing, $delay, $count) {
  stroke: $color;
  animation: $keyframes $duration $timing $delay $count;
  animation-fill-mode: forwards;
}

@mixin showOutside($color, $duration, $delay) {
  stroke: $color;
  transition: stroke-opacity $duration ease-in $delay;
  stroke-opacity: 1;
}

@keyframes fade {
  0% {stroke-opacity: 0}
  100% {stroke-opacity: 100}
}

@keyframes offset {
  100% {stroke-dashoffset: 0}
}

// This will just be offset, NO fade
@keyframes offset {
  0% {stroke-opacity: 0}
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes offset-fade {
  0% {stroke-opacity: 0}
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

// same as offset and offset-fade -- used on hdd-fab-fresh (weird but when using other offset animations)
@keyframes shine {
	0% {stroke-opacity: 0}
	100% {
		stroke-dashoffset: 0;
		stroke-opacity: 1;
	}
}

// Spin the suns around
@keyframes spin {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}


// Replace this with offset-fade -- hdd-lavender-blossom
@keyframes fade-offset {
  0% {
    stroke-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}


.default {
  path,
  circle,
  ellipse,
  line {
    @include default(#FFF,4)
  }
}

// Global SVG helper classes
.fill {fill: $backgroundColor !important}
.center {transform-origin: 50% 50% !important}
.transform-bottom {transform-origin: bottom center !important}

// Replace all instances of .fadeIn
// Have one for stroke-opacity and one for opacity of the entire element
// .fade-in {opacity: 0}
.fade-in-stroke {stroke-opacity: 0}



// end of file
