
// transform-origin switched to fixed pixels
#purex-laundry-detergent-sunny-linen,
#purex-oxi-stain-remover-powder,
#purex-laundry-detergent-after-the-rain,
#purex-laundry-detergent-fab-fresh,
#purex-laundry-detergent-fresh-lavender-blossom,
#purex-laundry-detergent-fresh-spring-waters
 { outline: 1px solid orange }

#purex-laundry-detergent-after-the-rain {
  border: 2px dashed green;
  border-bottom: 5px solid navy
}

// Good to Go
#purex-hdd-stain-fighter-bright-booster,
#purex-crystals-well-being { outline: 4px solid pink }

.fixed-transform-origin { outline: 1px solid orange }
.direction-issue { outline: 2px dashed green }
.refactored { border-bottom: 5px solid navy}
.good { outline: 4px solid pink }






// Just for the index page on this repo
@font-face {
  font-family: Proxima;
  src: url("../../fonts/ProximaNovaLight.otf") format("opentype");
}

.container {padding-top: 60px}
.row {padding: 20px 0}

body {background-color: $backgroundColor}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

h6 {
  font-size: 12px;
  padding: 5px 10px;
}

p, h6 {
  color: $darkBlue;
  font-family: 'Proxima', sans-serif;
  margin-bottom: 8px;
}

p {
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 0;
  background-color: rgba(255, 255, 255, 0.45);
}

.byline {
  font-size: 10px;
}
