// This is the compiled CSS - not scss
// star animation is working incorrectly

@keyframes offset {
  0% {
    stroke-opacity: 0; }
  40% {
    stroke-opacity: 25%; }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 100%; } }

@keyframes starSpin {
  0% {
    transform: rotateY(0deg) scale(1); }
  50% {
    transform: rotateY(180deg) scale(1.15);
    stroke: #FFF; }
  100% {
    transform: rotateY(360deg) scale(1);
    stroke: #f9f6c9; } }

    #baby .star {
      transform-origin: 50% 50%;

    }


#baby:hover .moon {
  stroke: #45a0d9;
  stroke-dasharray: 358;
  stroke-dashoffset: 358;
  animation: offset;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

#baby:hover .stork-beak {
  stroke: #f9f6c9;
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  animation: offset;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

#baby:hover .stork-eye {
  stroke: #f9f6c9;
  stroke-dasharray: 11.3;
  stroke-dashoffset: 11.3;
  animation: offset;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

#baby:hover .stork-bag-bow-left,
#baby:hover .stork-bag-bow-right {
  stroke: #e45ba1;
  stroke-dasharray: 39;
  stroke-dashoffset: 39;
  animation: offset;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

#baby:hover .stork-bag-inside {
  stroke: #e45ba1;
  stroke-dasharray: 114;
  stroke-dashoffset: 114;
  animation: offset;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

#baby:hover .stork-bag-outside {
  stroke: #e45ba1;
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  animation: offset;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

#baby:hover .star {
  position: absolute;
 }

#baby:hover .star-1 {
  animation: starSpin 250ms linear 808ms;
  animation-fill-mode: forwards; }

#baby:hover .star-2 {
  animation: starSpin 250ms linear 950ms;
  animation-fill-mode: forwards; }

#baby:hover .star-3 {
  animation: starSpin 250ms linear 503ms;
  animation-fill-mode: forwards; }

#baby:hover .star-4 {
  animation: starSpin 250ms linear 720ms;
  animation-fill-mode: forwards; }

#baby:hover .star-5 {
  animation: starSpin 250ms linear 850ms;
  animation-fill-mode: forwards; }

#baby:hover .star-6 {
  animation: starSpin 250ms linear 600ms;
  animation-fill-mode: forwards; }
