@keyframes blooming {
	0% {
		transform: rotate(0deg);
		stroke-opacity: 0;
	}
	100% {
		transform: rotate(30deg);
		stroke-opacity: 1;
	}
}

@keyframes bloomingSpin {
	0% {
		transform: translate(10px, 20px) rotate(0deg);
		stroke-opacity: 0;
	}
	100% {
		transform: translate(0px, 0px) rotate(45deg);
		stroke-opacity: 1;
	}
}

#crystals-fab-fresh {

	// global class exists called .fill
	.flower circle {fill: $backgroundColor;}
	// global class exists called .fade-in
	.fadeIn {stroke-opacity: 0}
	.fill-fade {fill: none}

	.flower-1 { transform-origin: 464px 467px }
	.flower-2 { transform-origin: 538px 454px }
	.flower-3 { transform-origin: 620px 337px }
	.flower-4 { transform-origin: 580px 277px }
	.flower-5 { transform-origin: 499px 271px }
	.flower-6 { transform-origin: 428px 255px }
	.flower-7 { transform-origin: 486px 203px }
	.flower-8 { transform-origin: 441px 141px }
	.flower-9 { transform-origin: 288px 453px }
	.flower-10 { transform-origin: 189px 433px }
	.flower-11 { transform-origin: 156px 368px }
	.flower-12 { transform-origin: 288px 333px }
	.flower-13 { transform-origin: 214px 324px }
	.flower-14 { transform-origin: 330px 271px }
	.flower-15 { transform-origin: 256px 262px }
	.flower-16 { transform-origin: 177px 266px }
	.flower-17 { transform-origin: 311px 204px }
	.flower-18 { transform-origin: 240px 191px }
	.flower-19 { transform-origin: 333px 136px }
	.flower-20 { transform-origin: 576px 394px }
	.flower-21 { transform-origin: 498px 393px }
	.flower-22 { transform-origin: 538px 333px }
	.flower-23 { transform-origin: 459px 333px }
	.flower-24 { transform-origin: 327px 395px }
	.flower-25 { transform-origin: 249px 394px }



	&:hover {

		.fill-fade {fill: $backgroundColor}

		.flower {
			animation-duration: 1000ms !important;
			animation-fill-mode: forwards !important;
		}

		.late-bloomers {
			.flower {
				animation: bloomingSpin;
				@for $i from 1 through 19 {
					&.fadeIn#{$i} {
						animation-delay: ($i * 15) +  ms;
					}
				}
			}
		}
		.grown {
			.flower {animation: blooming;}
		}

		.sun {
			transform-origin: 268px 136px;
			animation: spin;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-duration: 30s;
			animation-direction: normal;

			.sun-center,
			.beam {
				stroke: $orange;
				animation-iteration-count: 1;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
			}

			.sun-center {animation-name: offset; @include draw-tmoney(114, 114, 300ms, 0ms);}

			.beam {
				animation-name: shine;
			}

			.beam-3,
			.beam-16 {@include draw-tmoney(12, -12, 1600ms, 0ms);}

			.beam-6,
			.beam-19{@include draw-tmoney(14, -14, 1600ms, 0ms);}

			.beam-13,
			.beam-26{@include draw-tmoney(20, -20, 1600ms, 800ms);}

			.beam-1,
			.beam-14{@include draw-tmoney(23, 23, 1600ms, 750ms);}

			.beam-8,
			.beam-21{@include draw-tmoney(26, 26, 1600ms, 750ms);}

			.beam-2,
			.beam-9,
			.beam-15,
			.beam-22{@include draw-tmoney(32, 32, 1600ms, 0ms);}

			.beam-7,
			.beam-12,
			.beam-20,
			.beam-25{@include draw-tmoney(57, -57, 1000ms, 750ms);}

			.beam-4,
			.beam-17{@include draw-tmoney(60, -60, 1600ms, 0ms);}

			.beam-5,
			.beam-18{@include draw-tmoney(74, 74, 1600ms, 0ms);}

			.beam-11,
			.beam-24{@include draw-tmoney(86, 86, 1600ms, 0ms);}

			.beam-10,
			.beam-23{@include draw-tmoney(86, -86, 1600ms, 0ms);}

		}

		.flower-purple {
			path,
			circle,
			ellipse {stroke: $purple;}
		}
		.flower-pink {
			path,
			circle,
			ellipse {stroke: $pink;}
		}

	}
}
