@keyframes rockTheBoat {
	50% {transform: rotate(-3deg); }
	100% {transform: rotate(0deg); }
}

#purex-crystals-tahitian-breeze {
	&:hover {
		.palm-tree-group {
			transform-origin: bottom center;
			animation: rockTheBoat;
			animation-duration: 2s;
		}
		.palm-tree,
		.wave-long,
		.wave-short-left,
		.wave-short-right,
		.breeze {
			animation: offset;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
		}
		.wave {stroke: $blue}
		.palm-tree {
			stroke: $orange;
			stroke-dasharray: 1364;
			stroke-dashoffset: 1364;
			animation-duration: 600ms;
		}
		.wave-long {
			stroke-dasharray: 265;
			stroke-dashoffset: 265;
			animation-duration: 2s;
		}
		.wave-short-left,
		.wave-short-right {
			animation-duration: 1s;
			animation-direction: alternate;
		}
		.wave-short-left {
			stroke-dasharray: 66;
			stroke-dashoffset: -66;
		}
		.wave-short-right {
			stroke-dasharray: 66;
			stroke-dashoffset: 66;
		}
		.fade-in {
			opacity: 1;
			transition: opacity 1s !important;
		}
		.breeze-group {
			transform: translateX(50px);
			transition-duration: 2s;
			transition-delay: 0ms;
		}
		.breeze {
			stroke: $lightBlue;
			stroke-dasharray: 98;
			stroke-dashoffset: 98;
			animation-duration: 700ms;
		}
	} // end hover
} // end
