#purex-fresh-mountain-breeze-powder {

	//replace with .fade-in?
	.fadeIn {
		opacity: 0;
		transition: opacity 250ms ease-in;
	}

	// Set default transitions for these items
	.breeze,
	.cloud-group {
		transition: all 1s ease;
	}

	// Animate
	&:hover {
		// this could be globalized in some way like the above
		.fadeIn {opacity: 1;}
		.breeze-left1,
		.breeze-left2,
		.breeze-top,
		.breeze-right,
		.clouds .breeze {
			transform: translateX(60px);
			transition-duration: 2s;
		}
		.draw path,
		.fadeIn path {
			stroke: $lightBlue;
			animation-name: offset;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
			@include draw-tmoney(87, 87, 1s, 0s);
		}
		.cloud-group {
			transform: translateX(50px);
			.breeze path {
				stroke: $lightBlue;
				transition: 500ms ease;
			}
			.cloud path{
				stroke: $blue;
				animation-name: offset;
				animation-iteration-count: 1;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
			}
			.cloud1 path {@include draw-tmoney(155, 155, 750ms, .10s);}
			.cloud2 path {@include draw-tmoney(225, 225, 750ms, 0s);}
		}
		.mountain {
			path {
				stroke: $green;
				animation-name: offset;
				animation-iteration-count: 1;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
			}
			.short {@include draw-tmoney(150, 150, 750ms, 0s);}
			.tall {@include draw-tmoney(211, 211, 750ms, .15s);}
			.squiggle {@include draw-tmoney(80,80,500ms, .25s);}
		}
	}
}
