@keyframes hdd-fsw-flower-1 {
  0% {
    transform: translate(60px, 80px) rotate(0deg);
    stroke-opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(100deg);
    stroke-opacity: 1;
  }
}

@keyframes hdd-fsw-flower-3 {
  0% {
    transform: translate(0px, 80px) rotate(0deg);
    stroke-opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(100deg);
    stroke-opacity: 1;
  }
}

@keyframes hdd-fsw-flower-4 {
  0% {
    transform: translate(60px, 80px) rotate(0deg);
    stroke-opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(100deg);
    stroke-opacity: 1;
  }
}

@keyframes hdd-fsw-flower-5 {
  0% {
    transform: translate(-40px, 80px) rotate(0deg);
    stroke-opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(100deg);
    stroke-opacity: 1;
  }
}


#purex-laundry-detergent-fresh-spring-waters {
  &:hover {
    .wave-short {@include draw($blue, 71, 71, offset-fade, 500ms, 1, 0)}
    .wave-long {@include draw($blue, 209, 209, offset-fade, 500ms, 1, 0)}
    .orange {
      path, ellipse {
        stroke: $orange;
      }
    }
    .yellow {
      path, ellipse {
        stroke: $yellow;
      }
    }
    .orange, .yellow {
      path, ellipse {
        transition: stroke 1500ms;
      }
    }
    .late-bloomers {
      .flower {
        animation-fill-mode: forwards;
        animation-duration: 1000ms;
      }
    }
    .flower-1 {animation: hdd-fsw-flower-1}
    .flower-2 {animation: hdd-fsw-flower-3}
    .flower-3 {animation: hdd-fsw-flower-3}
    .flower-4 {animation: hdd-fsw-flower-4}
    .flower-5 {animation: hdd-fsw-flower-5}
  } // end hover
} // end
