@mixin fill_box($color) {
  stroke: $color;
  transition: stroke random(1500ms) +  ms;
  transition-duration: random(1000) + ms;
  transition-delay: random(1000) + ms;
}

@mixin fill_outside_box {
  transition: stroke-opacity random(1500) + ms;
  transition-duration: random(1550) + ms;
  transition-delay: random(800) + ms;
  transition-timing-function: ease-in;
  stroke-opacity: 1;
}

@mixin color_class($color) {
  .#{$color} {
    stroke: $color;
  }
}

#purex-hdd-stain-fighter-bright-booster {
  path {@include default(#FFF, 5)}

  .top,
  .bottom {stroke-opacity: 0}

  &:hover {
    @for $i from 1 through 13 {
      .red:nth-child(#{$i}) {
        @include fill_box($red);
      }
      .blue:nth-child(#{$i}) {
        @include fill_box($blue);
      }
      .green:nth-child(#{$i}) {
        @include fill_box($green);
      }
      .orange:nth-child(#{$i}) {
        @include fill_box($orange);
      }
      .top-red,
      .bottom-red {
        @include fill_box($red);
        @include fill_outside_box;
      }
      .top-blue,
      .bottom-blue {
        @include fill_box($blue);
        @include fill_outside_box;
      }
      .top-green,
      .bottom-green {
        @include fill_box($green);
        @include fill_outside_box;
      }
      .top-orange,
      .bottom-orange {
        @include fill_box($orange);
        @include fill_outside_box;
      }
    }
  } // end hover
} // end #purex-hdd-stain-fighter-bright-booster
