@mixin starSpin($keyframes, $seconds, $count, $delay) {
  transform-origin: 50% 50%;
  animation: $keyframes;
  animation-duration: $seconds;
  animation-iteration-count: $count;
  animation-delay: $delay;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes starRotate {
  0% {transform: scale(1) rotate(0deg)}
  50% {transform: scale(1.5) rotate(180deg)}
  100% {transform: scale(1) rotate(360deg)}
}

#purex-sta-flo-liquid-starch {

  .star {stroke-opacity: 0}

  &:hover {
    .shirt-left,
    .shirt-right {@include draw($lightBlue, 610, 610, offset, 1s, 1, 0)}
    .collar {@include draw($lightBlue, 145, 145, offset, 500ms, 1, 250ms)}
    .button {@include draw($lightBlue, 30, 30, offset, 500ms, 1, 800ms)}
    .sleeve {@include draw($lightBlue, 330, 330, offset, 500ms, 1, 250ms)}
    .cuff {@include draw($lightBlue, 51, 51, offset, 500ms, 1, 500ms)}
    @for $i from 1 through 8 {
      .star-#{$i} {
        transition: stroke-opacity 300ms ease random(400) + 500 + ms;
        stroke-opacity: 1;
      }
      .star-#{$i}-wrapper {
        @include starSpin(rotate, 300ms, 1, random(400) + 500 + ms);
      }
    }
  } // end hover
} // end #purex-sta-flo-liquid-starch
