@keyframes oxiBubbleApppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.25);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity:1;
  }
}

#purex-oxi-stain-remover-powder {
  .late-bloomers {
    .bubble {
      transform: scale(0);
      opacity: 0;
    }
    .bubble-13 { transform-origin: 541px 227px }
    .bubble-14 { transform-origin: 405px 174px }
    .bubble-15 { transform-origin: 278px 192px }
    .bubble-16 { transform-origin: 206px 332px }
    .bubble-17 { transform-origin: 157px 216px }
  }
  .bloomers {
    .bubble {
      opacity: 0;
    }
  }
  .dark circle,
  .dark ellipse {stroke: $blue}
  .light circle,
  .light ellipse {stroke: $lightBlue}

  &:hover {
    .bloomers {
      .bubble {
        opacity: 1;
        transition: opacity 400ms;
      }
    }
    @for $i from 1 through 12 {
      .bloomers {
        .bubble-#{$i} {
          transition-delay: ($i * 50) + ms
        }
      }
    }
    .late-bloomers {
      .bubble {
        animation: oxiBubbleApppear 500ms ease-in-out;
        animation-fill-mode: forwards;
      }
    }
    @for $i from 13 through 17 {
      .late-bloomers {
        .bubble-#{$i} {
          animation-delay: ($i * 50) +  ms;
        }
      }
    }
  } // end hover
} // end #purex
