#purex-mountain-breeze-fabric-softener-52loads {
	path{ @include default(#fff, 4); }

	.fadeIn { //this could be moved to a parent file to be globalized in some way
		opacity: 0;
		transition: opacity 250ms ease-in;
	}

	// Set default transitions for these items
	.breeze,
	.cloud-group {
		transition: all 1s ease;
	}

	// Animate
	&:hover {
		.fadeIn {opacity: 1;} // this could be globalized in some way like the above

		.breeze-top,
		.breeze-bottom,
		.clouds .breeze {
			transition-duration: 2.15s;
			transform: translateX(50px);
		}

		.draw path,
		.fadeIn path {
			stroke: $lightBlue;
			animation-name: offset;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
			@include draw-tmoney(110, 110, 1s, 0s);
		}

		.cloud-group {
			transform: translateX(50px);
			.breeze path {
				stroke: $lightBlue;
				transition: 500ms ease;
			}
			.cloud path{
				stroke: $blue;
				animation-name: offset;
				animation-iteration-count: 1;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
				@include draw-tmoney(193, 193, 750ms, 0);
			}
		}
		.mountain {
			path {
				stroke: $green;
				animation-name: offset;
				animation-iteration-count: 1;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
			}
			.tiny {@include draw-tmoney(110, 110, 750ms, 0s);}
			.short {@include draw-tmoney(162, 162, 750ms, 0s);}
			.tall {@include draw-tmoney(156, 156, 750ms, 0);}
			.squiggle {@include draw-tmoney(80,80,750ms, 0);}
		}
	}
}