// This should be replaced by the smaller-global draw
// The sun line animation may not work in Safari - lines are animating in opposite directions in Safari and Chrome
@mixin drawSunnyLinen($color, $array, $offset, $keyframes, $seconds, $count, $delay) {
  stroke: $color;
  stroke-dasharray: $array;
  stroke-dashoffset: $offset;
  animation-name: $keyframes;
  animation-duration: $seconds;
  animation-timing-function: ease-out;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-fill-mode: forwards;
}

@keyframes swing {
  0% {transform: rotate(0deg)}
  30% {transform: rotate(20deg)}
  70% {transform: rotate(-15deg)}
  100% {transform: rotate(0deg)}
}

@keyframes sway {
  0% {transform: rotate(0deg) translate(0px, 0px)}
  15% {transform: rotate(0deg) translate(0px, -3px)}
  30% {transform: rotate(20deg) translate(-5px, -3px)}
  70% {transform: rotate(-15deg) translate(2px, -3px)}
  80% {transform: rotate(0deg) translate(0px, -3px)}
  100% {transform: rotate(0deg) translate(0px, 0px)}
}

* { shape-rendering: geometricPrecision }


#purex-laundry-detergent-sunny-linen {
  &:hover {
    .sun {
      transform-origin: 511px 140px;
      animation: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 30s;
      animation-direction: normal;
      .sun-center {@include drawSunnyLinen($orange, 128, 128, offset, 300ms, 1, 0ms)}
      .sun-beam-23,
      .sun-beam-10 {
        @include drawSunnyLinen($orange, 94, -94, shine, 1600ms, 1, 0ms);
      }
      .sun-beam-18,
      .sun-beam-5 {
        @include drawSunnyLinen($orange, 83.5, 83.5, shine, 1600ms, 1, 0ms);
      }
      .sun-beam-17,
      .sun-beam-4,
      .sun-beam-20,
      .sun-beam-7 {
        @include drawSunnyLinen($orange, 66.15, -66.15, shine, 1600ms, 1, 750ms);
      }
      .sun-beam-11,
      .sun-beam-24 {
        @include drawSunnyLinen($orange, 98, 98, shine, 1600ms, 1, 0ms);
      }
      .sun-beam-22,
      .sun-beam-9 {
        @include drawSunnyLinen($orange, 36, 36, shine, 1600ms, 1, 0ms);
      }
      .sun-beam-26,
      .sun-beam-13 {
        @include drawSunnyLinen($orange, 21.5, -21.5, shine, 1600ms, 1, 750ms);
      }
      .sun-beam-12,
      .sun-beam-25 {
        @include drawSunnyLinen($orange, 63, -63, shine, 1600ms, 1, 0ms);
      }
      .sun-beam-2,
      .sun-beam-15 {
        @include drawSunnyLinen($orange, 35.3, 35.3, shine, 1000ms, 1, 0ms)
      }
      .sun-beam-1,
      .sun-beam-8,
      .sun-beam-14,
      .sun-beam-21 {
        @include drawSunnyLinen($orange, 30, 30.5, shine, 1000ms, 1, 750ms)
      }
      .sun-beam-3,
      .sun-beam-6,
      .sun-beam-16,
      .sun-beam-19 {
        @include drawSunnyLinen($orange, 16, -16, shine, 1000ms, 1, 0ms)
      }
    }
    .clothesline {@include drawSunnyLinen($lightBlue, 581, 581, offset, 500ms, 1, 0ms)}

    .pegs-1 {
      .hook-1 { transform-origin: 103px 296px }
      .hook-2 { transform-origin: 129px 300px }
    }

    .pegs-2 {
      .hook-1 { transform-origin: 182px 305px }
      .hook-2 { transform-origin: 199px 308px }
    }

    .pegs-3 {
      .hook-1 { transform-origin: 595px 303px }
      .hook-2 { transform-origin: 630px 299px }
    }

    .hook-1,
    .hook-2 {animation: swing}

    .hook-1,
    .hook-2,
    .shirt-wrapper,
    .skirt-wrapper ,
    .dress-wrapper {
      transform-box: fill;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-duration: 1500ms;
      animation-direction: normal;
    }
    .dress {@include drawSunnyLinen($pink, 360, 360, offset, 400ms, 1, 500ms)}
    .shirt {@include drawSunnyLinen($purple, 250, 250, offset, 400ms, 1, 0ms)}
    .skirt-top {@include drawSunnyLinen($green, 37, 37, offset, 400ms, 1, 20ms)}
    .skirt-bottom {@include drawSunnyLinen($green, 161, 161, offset, 400ms, 1, 20ms)}

    .dress-wrapper,
    .shirt-wrapper,
    .skirt-wrapper { animation-name: sway }

    .dress-wrapper { transform-origin: 600px 300px }
    .shirt-wrapper { transform-origin: 100px 300px }
    .skirt-wrapper { transform-origin: 180px 300px }

    .shirt-wrapper,
    .skirt-wrapper {
      animation-delay: 0ms;
    }
    .dress-wrapper,
    .pegs-3 .hook-1, .hook-2 {
      animation-delay: 150ms;
    }
  } // end hover
} // end #purex-laundry-detergent-sunny-line
