@keyframes jump {
  0% {transform: translateY(0px)}
  50% {transform: translateY(-60px)}
  100% {transform: translateY(0px)}
}

@keyframes spinFlower {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

@keyframes growFlower {
  0% {transform: scale(1)}
  50% {transform: scale(1.15)}
  100% {transform: scale(1)}
}

#fabric-softener-tropical-escape {
  path,
  circle,
  ellipse,
  line {
    @include default(#FFF, 4);
  }

  .pineapple {transform-origin: 60% 90%}

  &:hover {

    .big-flower path, ellipse {stroke: $pink}
    .pink path {stroke: $pink}
    .red path {stroke: $red}

    .red path,
    .pink path,
    .big-flower path,
    .big-flower ellipse {transition: stroke 800ms}

    .big-flower,
    .big-flower-wrapper {
      animation-delay: 500ms !important;
      animation-timing-function: ease-out !important;
    }

    .big-flower {animation: spinFlower 400ms}
    .big-flower-wrapper {animation: growFlower 400ms}

    @for $i from 1 through 5 {
      .flower-#{$i}, .flower-wrapper-#{$i} {
        animation-delay: ($i * 100) + ms !important;
      }
    }

    .flower {animation: jump 500ms}
    .flower-wrapper {animation: spinFlower 500ms}

    .pineapple-top,
    .pineapple-outline,
    .pineapple-line {
      stroke: $orange;
      animation-name: offset-fade;
      animation-duration: 600ms;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    .pineapple {
      animation: pineappleWiggle 500ms;
      animation-timing-function: step-start;
    }

    .pineapple-top {
      stroke-dasharray: 533;
      stroke-dashoffset: 533;
      animation-delay: 120ms;
    }
    .pineapple-outline {
      stroke-dasharray: 448;
      stroke-dashoffset: -448;
      animation-delay: 0;
    }
    .pineapple-line {
      stroke-dasharray: 137;
      stroke-dashoffset: -137;
      animation-delay: 0;
    }



  } // end hover
} // end
