@keyframes pineappleWiggle {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(-15deg)}
  75% {transform: rotate(25deg)}
  100% {transform: rotate(0deg)}
}

@keyframes flowerRiseShort {
  0% {transform: translateY(40px) rotate(0deg)}
  100% {transform: translateY(0px) rotate(360deg)}
}

@keyframes flowerRiseLong {
  0% {transform: translate(60px, 100px) rotate(0deg)}
  100% {transform: translate(0px, 0px) rotate(360deg)}
}

// #purex-laundry-detergent-tropical-splash {

  // could be globalized
  .late-bloomers {
    .flower {
      opacity: 0;
    }
  }
  #purex-laundry-detergent-tropical-splash:hover {
    .red {
      path {
        stroke: $red !important
      }
    }
    .pink {
      path {
        stroke: $pink !important
      }
    }
    .pineapple {
      animation: pineappleWiggle 500ms;
      animation-timing-function: step-start;
      transform-origin: 60% 90%
    }
    .pineapple-top {
      stroke-dasharray: 533;
      stroke-dashoffset: 533;
      animation-delay: 120ms;
    }
    .pineapple-outline {
      stroke-dasharray: 448;
      stroke-dashoffset: -448;
      animation-delay: 0;
    }
    .pineapple-line {
      stroke-dasharray: 137;
      stroke-dashoffset: -137;
      animation-delay: 0;
    }
    .pineapple-top,
    .pineapple-outline,
    .pineapple-line {
      stroke: $orange;
      animation-name: offset-fade;
      animation-duration: 600ms;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    .flower, .white-flower {
      animation: spin 800ms;
      animation-timing-function: ease-out;
    }
    .bloomers,
    .under-white {
      .flower-1 { transform-origin: 642px 411px }
      .flower-2 { transform-origin: 592px 368px }
      .flower-3 { transform-origin: 580px 432px }
      .flower-4 { transform-origin: 237px 421px }
      .flower-5 { transform-origin: 171px 431px }
    }
    .late-bloomers {
      .flower {
        opacity: 1;
        transition: opacity 500ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
    }
    .flower-1,
    .flower-5  {
      animation: flowerRiseShort 800ms;
    }

    .flower-2,
    .flower-3,
    .flower-4  {
      animation: flowerRiseLong 800ms;
    }
  } // end hover
// }
// end #purex
